<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>petshopapp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="custom.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <ul id="menu">
        <div class="width: 300px; margin: 0 auto; left: 50%; margin-left: auto; text-align: center">

            <h1>Facilita Petshop</h1>

            <h3><a href="/cadastrarProduto" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Produtos</a></h3>
            <h3><a href="/cadastrarCliente" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Cliente</a></h3>
            <h3><a href="/cadastrarVendas" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Vendas</a></h3>
            <h3><a href="/clientes" class="waves-effect waves-light btn"><i class="material-icons left">contacts</i>Lista de Clientes</a></h3>
            <h3><a href="/listaVendas" class="waves-effect waves-light btn"><i class="material-icons left">collections</i>Vendas Realizadas</a></h3>

        </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>